.action-bubble-list {
  display: flex!important;
  text-align: center;
}

.action-bubble-item {
  // max-width:150px; 
  flex: 1;
  display: flex!important;
  flex-direction:column;
}
.action-bubble-item  > div{
  margin:auto;
}

.action-bubble {
  border-radius: 50%;
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 32px;
  text-align: center;
  background-color: $stable;
  margin: 5px;
}