body[ng-app="ycf"] {
    line-height: initial;
}

input, textarea {
    -webkit-user-select: auto !important;
    -khtml-user-select: auto !important;
    -moz-user-select: auto !important;
    -ms-user-select: auto !important;
    -o-user-select: auto !important;
    user-select: auto !important;
}

.snicker-btn {
    text-transform: lowercase;
	font-family: 'snickerregular';
	border: 1px solid transparent;
	border-radius: $border-radius;
	&.activated {
		border: 1px solid transparent;
		border-radius: $border-radius;
	}
}

.orange-btn, .orange-btn:hover {
    color: white;
    background-color: $orange;
    &.activated {
        color: white;
        background-color: $orange-dark;
    }
}

.purple-btn, .purple-btn:hover {
    color: white;
    background-color: $purple;
    &.activated {
        color: white;
        background-color: $purple-dark;
    }
}

.dark-btn, .dark-btn:hover {
    color: white;
    background-color: $dark-color;
    &.activated {
        color: white;
        background-color: $dark-color-active;
    }
}

.button.back-button.buttons.button-clear.header-item {
    font-family: 'sofia_pro_soft_regularregular';
}

.title.title-center.header-item, .title.title-left.header-item {
    font-family: 'sofia_pro_softbold';
    text-transform: uppercase;
}

.page-embed{
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling:touch;
    iframe {
        height: 100%;
        width: 100%;
    }
}

.blue-bkg {
    //background: $blue;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.vertical-center {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-60%);
    -ms-transform: translateY(-60%);
    transform: translateY(-60%);
}

.dash-content {
    padding-bottom: 50px;
}

.dashboard-top-section {
    background: $very-dark-color;
    padding-top: 15px;
    padding-bottom: 15px;
    .dashboard-name-and-comp {
        color: white;
        padding: 0 15px;
        display: inline-block;
        width:60%;
        .dashboard-name {
            font-size: 24px;
            font-family: 'sofia_pro_softbold';
        }
        .dashboard-comp {
            font-size: 18px;
            font-family: 'sofia_pro_soft_regularregular';
            text-transform: uppercase;
        }
    }
    .dashboard-views-likes {
        color: $light-aqua;
        width: 34%;
        display: inline-block;
        vertical-align: top;
        text-align: center;
        .days-views {
            font-family: 'sofia_pro_soft_regularregular';
            font-size: 72px;
            line-height: 50px;
            padding-bottom: 10px;
        }
        .days-likes {
            text-transform: uppercase;
            font-family: 'sofia_pro_soft_regularregular';
            font-size: 18px;
        }
    }
}

.dashboard-mid-section {
    background: #ADDEF0;
    text-align: center;
    .dashboard-charts{
        width: 49%;
        display: inline-block;
        text-align: center;
    }
    .dashboard-circle {
        background: #93BECF;
        border-radius: 50%;
        margin: 10px auto 0 auto;
        padding: 15px;
        width: 165px;
        height: 165px;
        font-family: 'sofia_pro_soft_regularregular';
        .dashboard-circle-val {
            font-size: 65px;
            color: white;
            span.dashboard-circle-percentage {
                font-size: 52px;
            }
        }
        .dashboard-circle-label {
            color: $very-dark-color;
            margin-top: -15px;
            font-size: 16px;
        }
        position: relative;
        canvas {
            position: absolute;
            top:0;
            left:0;
        }
    }
    .btn-mini-orange {
        @extend .orange-btn;
        @extend .snicker-btn;
        width: 175px;
        margin: 15px auto;
        font-size: 30px;
        line-height: 26px;
        padding: 10px 15px;
    }
    .button.btn-contact {
        @extend .snicker-btn;
        @extend .orange-btn;
        font-size: 30px;
        margin: 10px auto;
        width:90%;
        height:50px;
        line-height: 50px;
    }
}

.dashboard-bottom-section {
    .dashboard-bottom-image {
        width: 100%;
        height: auto;
    }
    .button.btn-full-orange {
        @extend .orange-btn;
        margin-top: -4px;
        border: none;
        font-family: 'sofia_pro_soft_regularregular';
        height: 40px;
        font-size: 22px;
        line-height: 22px;
        min-height: initial;
    }
}

.chart{
    margin: 10px auto 0 auto;
    padding: 15px;
}
.row-header{
    //background-color:lightgrey;
}
.row-header .col {
    background-color:lightgrey;
    color:$blue;
    //text-align: center;
}

.col {
    //border: solid 1px grey;
    border-bottom-style: none;
    border-right-style: none;
    min-width:70px;
    line-height: 32px;
}

.status-btn{
    width:80px;
    font-size:12px;
}

.btn-views{
    min-width:180px;
}

.poll-result{
   margin-bottom: 0; 
}

/*.col:last-child {
    border-right: solid 1px grey;
}

.row:last-child .col {
    border-bottom: solid 1px grey;
    border: 1px solid grey !important;
}*/