/* define all variables in this page */
$logo-width:                  305px;
$border-radius:               5px;
$orange:                      #F87032;
$orange-dark:                 #DF642D;
$purple:                      #AA66CB;
$purple-dark:                 #995BB6;
$dark-color:                  #0F252C;
$dark-color-active:           #0F252C;
$very-dark-color:             #0F252C;
$very-dark-color-active:      #0A191E;
$light-aqua:                  #7FD2EF;
$gray:                        #9DAEB5;
$blue:                        #0C49B0;
$err:                         #A32B2D;
$light-color:                 #E4E9EF;