<ion-view title="About and Help">

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-android-menu"></button>
    </ion-nav-buttons>

    <ion-content class="has-header padding">
        <div class="text-center">
            <img style="height: 100px; width: 100px" class="circle" src="img/logo.png">
<h5 style="margin-top: 0" class="dark">{{$root.appName}} - version {{$root.appVersion}} </h5>
</div>
<div class="list">
    <div class="item item-text-wrap">
        This application is work of passion by core team of <strong>SAP Elites</strong>.
    </div>
    <div class="item item-avatar item-icon-right item-text-wrap">
        <img src="img/developer/amitesh.jpg">
        <h2>Amitesh Kumar</h2>
        <p>It is easier to port a shell than a shell script.</p>
        <i ng-click="appVm.openEXternalUrl('https://www.facebook.com/amiteshhh.nitk')" class="icon ion-social-facebook positive"></i>
    </div>

    <div class="item item-avatar item-icon-right item-text-wrap">
        <img src="img/developer/sourav.jpg">
        <h2>Sourav Sahoo</h2>
        <p>I feel great pleasure by doing what people say I can't do.</p>
        <i ng-click="appVm.openEXternalUrl('https://www.facebook.com/srvsahoo')" class="icon ion-social-facebook positive"></i>
    </div>

    <div class="item item-avatar item-icon-right item-text-wrap">
        <img src="img/developer/pratik.jpg">
        <h2>Pratik Anand</h2>
        <p>Be silent, or say something better than silence.</p>
        <i ng-click="appVm.openEXternalUrl('https://www.facebook.com/HeyItsMePratik')" class="icon ion-social-facebook positive"></i>
    </div>

</div>

<div class="list">

    <div class="item item-icon-left" ng-click="appVm.sendMail(vm.email)">
        <i class="icon ion-ios-email"></i> Email Us
    </div>

    <div class="item item-icon-left item-text-wrap" ng-click="appVm.openEXternalUrl(vm.contact.gitHubIssueLink, '_blank')">
        <i class="icon ion-android-open"></i> Report Issue on Github
        <p>You may require github account to acccess it.</p>
    </div>

</div>

</ion-content>
</ion-view>