<ion-modal-view>
    <ion-header-bar class="bar bar-positive">
        <h1 class="title">VotePad</h1>
        <button class="button button-clear" ng-click="vm.closeSignInModal()">Cancel</button>
    </ion-header-bar>
    <ion-content padding="true" scroll="false">
        <div>
            <!-- Form with floating labels -->
            <form autocomplete="off" name="signinForm" ng-submit="vm.signInUser()">
                <ion-list>
                    <!--<label class="item item-input item-floating-label">
            <span class="input-label">Username</span>
            <input type="text"
                   placeholder="Username"
                   name="userName"
                   ng-model="vm.signInForm.userName"
                   ng-required="true">
          </label>-->
                    <label class="item item-input item-floating-label">
            <span class="input-label">Mobile</span>
            <input type="text"
                   placeholder="Mobile"
                   name="mobile"
                   ng-model="vm.signInForm.mobile"
                   ng-required="true">
          </label>
                    <label class="item item-input item-floating-label">
            <span class="input-label">Password</span>
            <input type="password"
                   placeholder="Password"
                   name="password"
                   ng-model="vm.signInForm.password"
                   ng-required="true">
          </label>
                </ion-list>
                <div class="button-bar" style="margin-top: 10px;">
<a class="button" href="javascript:;" ng-class="vm.host && !vm.participant ? 'button-dark' : 'button-stable'" ng-click="vm.setLoginAsHost()">Host</a>
<a class="button" href="javascript:;" ng-class="vm.participant && !vm.host ? 'button-dark' : 'button-stable'" ng-click="vm.setLoginAsParticipant()">Participant</a>
</div>
<button ng-disabled="signinForm.$invalid || !(vm.host || vm.participant)" class="button button-dark button-block" type="submit"
    ng-click="vm.signInUser()">Sign In
        </button>
</form>
</div>

<div style="text-align: center;margin-top: 30px;">

<p>or Login Using</p>
<button class="button button-block icon-left ion-social-facebook button-positive"> Facebook</button>
</div>

<div class="item item-icon-left assertive" ng-if='vm.userSignInFail'>
    <i class="icon ion-android-alert"></i> User Login failed !
</div>

</ion-content>
</ion-modal-view>