<ion-modal-view>
  <ion-header-bar class="bar bar-positive">
    <h1 class="title">OTP Authentication</h1>
    <button class="button button-clear" ng-click="vm.closeOtpModal()">Cancel</button>
  </ion-header-bar>
  <ion-content padding="true">
    <div>
      <!-- Form with floating labels -->
      <form autocomplete="off"name="OtpForm" ng-submit="vm.validateOTP()">
        <ion-list>
          <label class="item item-input item-floating-label">
            <span class="input-label">OTP</span>
            <input type="number"
                   placeholder="OTP"
                   name="otp"
                   ng-model="vm.userOTP"
                   ng-required="true">
          </label>
          <div class="item item-icon-left assertive item-text-wrap" ng-if='vm.otpValFail'>
            <i class="icon ion-android-alert"></i> We are facing problem with validating your otp. Please try again later.
          </div>
        </ion-list>
        <button ng-disabled="OtpForm.$invalid" class="button button-dark button-block" type="submit">Validate
        </button>
      </form>
    </div>
  </ion-content>
</ion-modal-view>