<ion-view title="Create an Event">

  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-android-menu"></button>
  </ion-nav-buttons>

  <ion-content class="has-header padding">
    
    <div class="list list-inset">
      <div class="item item-divider">
        Inbuilt Question Templates
      </div>
      <div>
        <a class="item item-icon-left" ng-click="vm.configureText()">
          <i class="icon ion-compose"></i> Text Answer
        </a>
        <a class="item item-icon-left" ng-click="vm.configureYesNo()">
          <i class="icon ion-help-circled"></i> Yes/No
        </a>
      </div>
    </div>
    <div class="list list-inset">
      <div class="item item-divider">
        Customizable Question Templates
      </div>
      <div>
        <a class="item item-icon-left" ng-click="vm.configureSingleSelect()">
          <i class="icon ion-android-radio-button-on"></i> Single Select
        </a>
        <a class="item item-icon-left" ng-click="vm.configureLinearScale()">
          <i class="icon ion-code-working"></i> Linear Scale
        </a>

        <a class="item item-icon-left" ng-click="vm.configureMultipleSelect()">
          <i class="icon ion-android-checkbox-outline"></i> Multiple Choice
        </a>
      </div>
    </div>

  </ion-content>
</ion-view>