<ion-view title="Select a Question Template">

  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-android-menu"></button>
  </ion-nav-buttons>

  <ion-content class="has-header padding">
    
    <div class="list ">      
        <a class="item item-icon-left item-text-wrap" ng-click="vm.configureText()">
          <i class="icon ion-compose"></i> 
          <h2>Text Answer</h2>
          <p>Participants can provide a textual reponse for an event, suitable for textual discussion on a common platform.</p>
        </a>
        <a class="item item-icon-left item-text-wrap" ng-click="vm.configureYesNo()">
          <i class="icon ion-help-circled"></i> 
          <h2>Yes/No</h2>
          <p>Participants can choose either YES or NO as their response.</p>
        </a>         
      <div>
        <a class="item item-icon-left item-text-wrap" ng-click="vm.configureSingleSelect()">
          <i class="icon ion-android-radio-button-on"></i> 
          <h2>Single Select</h2>
          <p>Participants can choose their single choice of response from the configured list of choices.</p>
        </a>
        <a class="item item-icon-left item-text-wrap" ng-click="vm.configureLinearScale()">
          <i class="icon ion-code-working"></i> 
          <h2>Linear Scale</h2>
          <p>Participants can rate their vote againt an event configured.</p>
        </a>

        <a class="item item-icon-left item-text-wrap" ng-click="vm.configureMultipleSelect()">
          <i class="icon ion-android-checkbox-outline"></i> 
          <h2>Multiple Choice</h2>
          <p>Participants can choose multiple options from the configured list of choices.</p>
        </a>
      </div>
    </div>

  </ion-content>
</ion-view>