
    <ion-content>

        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" ng-model="vm.event.title" placeholder="Event Name">
            </label>
            <label class="item item-input">
                <input type="text" ng-model="vm.event.description" placeholder="Event Description (optional)">
            </label>
        </div>
        <div class="list list-inset">
            <div class="item item-input item-icon-right" ng-repeat="item in vm.event.textTemplates">
                <input id='{{item.cssId}}' type="text" ng-model="item.question" placeholder="{{'Question ' + ($index + 1)}}">
                <i class="icon ion-android-delete" ng-if="$index !== 0" ng-click="vm.deleteQueFromTextTemplates(item, vm.event.textTemplates)"></i>
            </div>
            <div class="item" ng-if="vm.event.textTemplates.length < 5" ng-click="vm.addQueToTextTemplates(vm.event.textTemplates)">
                <p>Add Question</p>
            </div>
        </div>

        <div class="list list-inset">
            <button class="button button-block button-dark" ng-disabled="!vm.event.title" ng-click="vm.createOrUpdateEvent()">
          Create Event
        </button>
            <button class="button button-block button-dark" ng-disabled="vm.validateLaunchPoll()" ng-click="vm.createOrUpdateEvent()">
          Launch Poll
        </button>
        </div>


        <!--<div class="list list-inset" ng-disabled="true" ng-if="vm.textEventName && vm.textQuestion">
            <div class="item item-icon-left item-text-wrap" style="border-left: 10px solid #0c60ee;">
<i class="icon ion-person-stalker"></i>
<h2><strong>Polling Preview</strong></h2>
<p>Shown below a snapshot of the event as a participant's view. </p>
</div>
<label class="item item-text-wrap">
                <h2><strong> {{vm.textEventName}} </h2></span>
                <p ng-if="vm.textEventDescp"> {{vm.textEventDescp}} </p>
            </label>
<label class="item item-text-wrap">
                <h2> {{vm.textQuestion}}</h2>
            </label>
<ion-list>
    <label class="item item-input item-text-wrap">
                    <input type="text" placeholder="Please enter your response here">
                </label>
</ion-list>
<button class="button button-block button-dark" ng-disabled="true">Submit Response</button>
</div>-->

</ion-content>