
    <ion-content>

        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" ng-model="vm.event.title" placeholder="Event Name">
            </label>
            <label class="item item-input">
                <input type="text" ng-model="vm.event.description" placeholder="Event Description (optional)">
            </label>
            <label class="item item-input">
                <input type="text" ng-model="vm.event.optionTemplate.question" placeholder="Place your question here">
            </label>
        </div>
        <div class="list list-inset">
            <div class="item item-input item-icon-right" ng-repeat="item in vm.event.optionTemplate.options">
                <input id='{{item.cssId}}' type="text" ng-model="item.label" placeholder="{{'Option ' + ($index + 1)}}">
                <i class="icon ion-android-delete" ng-if="$index !== 0" ng-click="vm.deleteQueFromTextTemplates(item, vm.event.optionTemplate.options)"></i>
            </div>
            <div class="item" ng-if="vm.event.optionTemplate.options.length < 5" ng-click="vm.addOptToOptTemplates(vm.event.optionTemplate.options)">
                <p>Add Options</p>
            </div>
        </div>

        <div class="list list-inset">
            <button class="button button-block button-dark" ng-disabled="!vm.event.title" ng-click="vm.createOrUpdateEvent()">
          Create Event
        </button>
            <button class="button button-block button-dark" ng-disabled="vm.defaultValidateLaunchPoll()" ng-click="vm.createOrUpdateEvent()">
          Launch Poll
        </button>
        </div>


        <div class="list list-inset" ng-disabled="true" ng-if="vm.event.optionTemplate.question && vm.event.title">
            <div class="item item-icon-left item-text-wrap" style="border-left: 10px solid #0c60ee;">
                <i class="icon ion-person-stalker"></i>
                <h2><strong>Polling Preview</strong></h2>
                <p>Shown below a snapshot of the event as a participant's view. </p>
            </div>
            <label class="item item-text-wrap">
                <h2><strong> {{vm.event.title}} </h2></span>
                <p ng-if="vm.event.description"> {{vm.event.description}} </p>
            </label>
            <label class="item item-text-wrap">
                <h2>{{vm.event.optionTemplate.question}} </h2>
            </label>
            <div class="item item-divider">
                Select your choices.
            </div>
            <ion-list ng-repeat="item in vm.event.optionTemplate.options">
                <ion-checkbox ng-model="item.checked" ng-checked="item.checked">
                    {{item.label}}
                </ion-checkbox>
            </ion-list>
            <button class="button button-block button-dark" ng-disabled="true">Submit Response</button>
        </div>

    </ion-content>