<ion-view view-title="Chat with {{vm.recipientName}}">
    <ion-content class="padding">
        <!--<section class="chats">
            <span ng-repeat="message in vm.messages track by $index">
                <span ng-show="!message.notification">
                    <p class="userName">{{message.senderName}}</p>
                    <div ng-class='message.className'>
                        <p ng-bind="message.message"></p>
                    </div>
                    <div class="clear"></div>
                </span>
            <span ng-show="message.notification">
                    <p class="notification" ng-bind="message.message"></p>
                </span>
            </span>
        </section>-->

        <ion-list class="chats">
                <ion-item ng-class='message.className' ng-repeat="message in vm.messages track by $index">
                    <h2 class="userName"><span class="positive">{{message.senderName}}</span><span style="color:#ccc; font-size:14px;"> at {{message.updatedAt | date : "medium"}}</span></h2>
                    <div  class="item-text-wrap">
                        <p ng-bind="message.message"></p>
                    </div>
                </ion-item>
            </ion-list>
    </ion-content>
    <form autocomplete="off" name="sendMessageForm" ng-submit="vm.sendMessage()" novalidate>
        <ion-footer-bar class="bar-stable item-input-inset message-footer" keyboard-attach>
            <label class="item-input-wrapper">
                <input id="msg-input" ng-change="vm.updateTyping()" ng-model="vm.message" class="input-message" type="text" placeholder="Message">
            </label>
            <div class="footer-btn-wrap">
                <button class="button button-icon icon ion-ios-paperplane footer-btn" type="submit" ng-disabled="!vm.message">
                </button>
            </div>
        </ion-footer-bar>
    </form>
</ion-view>