<ion-view title="Dashboard">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-android-menu"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button ng-click="vm.createEvent()" class="button button-icon icon ion-compose"></button>
    </ion-nav-buttons>
    <ion-content>

        <div class="list card" ng-if="vm.events.length === 0">
            <div class="item item-text-wrap">
                <h2><strong>It seems you are here for the first time or you haven't created any event !</strong></h2>
                <p>No events available.</p>
            </div>
        </div>

        <div class='list list-inset'>
            <a class="item item-icon-right item-dark" ng-click="vm.showParticipatedEventDetails()">
                <i class="icon" ng-class="vm.isParticipatedEvents ? 'ion-android-arrow-dropup' : 'ion-android-arrow-dropdown'" ></i>
                    Events Participated
            </a>
            <div ng-if="vm.isParticipatedEvents">

                <div class="list card">
                    <div class="item row" style="border-bottom: white;">
                        <div class="col col-67">
                            <h2 style="margin-top: 7px;"><strong>Event Title 1</strong></h2>
                            <p style="margin-top: 7px;">Created By: Amitesh Kumar</p>
                            <p style="margin-top: -7px;">Created On: 1 Apr, 2017</p>
                        </div>
                        <div class="col col-33">
                            <span class="positive" style="float: right;">89 <i class="icon ion-thumbsup">Like</i></span><br>
                            <i style="float: right; background-color: #33cd5f; color: white; border-radius: 7px; height: 50px; width: 100%; text-align: center; line-height: 50px;">
                                Open
                            </i>
                        </div>
                    </div>

                    <div class="item row" style="border-top: white;">
                        <div class="col col-67">
                            <canvas id="pie" style="margin-top: -20px;" class="chart chart-pie" chart-data="vm.data" chart-labels="vm.labels" chart-options="options"></canvas>
                        </div>
                        <div class="col col-33">
                            <i style="float: right; margin-right: 10px; background-color: #444444; color: white; border-radius: 7px; height: 60px; width: 60px; text-align: center; line-height: 60px;">
                                <span style="font-size: xx-large;">19</span>
                            </i><br>
                            <span class="dark" style="float: right;">Participated</span>
                        </div>
                    </div>
                </div>

                <div class="list card">
                    <div class="item row" style="border-bottom: white;">
                        <div class="col col-67">
                            <h2 style="margin-top: 7px;"><strong>Event Title 2</strong></h2>
                            <p style="margin-top: 7px;">Created By: Pratik Anand</p>
                            <p style="margin-top: -7px;">Created On: 9 Jan, 2017</p>
                        </div>
                        <div class="col col-33">
                            <span class="positive" style="float: right;">41 <i class="icon ion-thumbsup">Like</i></span><br>
                            <i style="float: right; background-color: #ffc900; color: white; border-radius: 7px; height: 50px; width: 100%; text-align: center; line-height: 50px;">
                                Not Started
                            </i>
                        </div>
                    </div>

                    <div class="item row" style="border-top: white;">
                        <div class="col col-67">
                            <canvas id="pie" style="margin-top: -20px;" class="chart chart-pie" chart-data="vm.data" chart-labels="vm.labels" chart-options="options"></canvas>
                        </div>
                        <div class="col col-33">
                            <i style="float: right; margin-right: 10px; background-color: #444444; color: white; border-radius: 7px; height: 60px; width: 60px; text-align: center; line-height: 60px;">
                                <span style="font-size: xx-large;">41</span>
                            </i><br>
                            <span class="dark" style="float: right;">Participated</span>
                        </div>
                    </div>
                </div>

                <div class="list card">
                    <div class="item row" style="border-bottom: white;">
                        <div class="col col-67">
                            <h2 style="margin-top: 7px;"><strong>Event Title 3</strong></h2>
                            <p style="margin-top: 7px;">Created By: Saurabh Sahoo</p>
                            <p style="margin-top: -7px;">Created On: 29 Feb, 2017</p>
                        </div>
                        <div class="col col-33">
                            <span class="positive" style="float: right;">111 <i class="icon ion-thumbsup">Like</i></span><br>
                            <i style="float: right; background-color: #ef473a; color: white; border-radius: 7px; height: 50px; width: 100%; text-align: center; line-height: 50px;">
                                Closed
                            </i>
                        </div>
                    </div>

                    <div class="item row" style="border-top: white;">
                        <div class="col col-67">
                            <canvas id="pie" style="margin-top: -20px;" class="chart chart-pie" chart-data="vm.data" chart-labels="vm.labels" chart-options="options"></canvas>
                        </div>
                        <div class="col col-33">
                            <i style="float: right; margin-right: 10px; background-color: #444444; color: white; border-radius: 7px; height: 60px; width: 60px; text-align: center; line-height: 60px;">
                                <span style="font-size: xx-large;">18</span>
                            </i><br>
                            <span class="dark" style="float: right;">Participated</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class='list list-inset'>
            <a class="item item-icon-right item-dark" ng-click="vm.showHostedEventDetails()">
                <i class="icon" ng-class="vm.isHostedEvents ? 'ion-android-arrow-dropup' : 'ion-android-arrow-dropdown'"></i>
                    Events Hosted
            </a>
            <div ng-if="vm.isHostedEvents">

                <div class="list card">
                    <div class="item row" style="border-bottom: white;">
                        <div class="col col-67">
                            <h2 style="margin-top: 7px;"><strong>Event Title 1</strong></h2>
                            <p style="margin-top: 7px;">Created By: Amitesh Kumar</p>
                            <p style="margin-top: -7px;">Created On: 1 Apr, 2017</p>
                        </div>
                        <div class="col col-33">
                            <span class="positive" style="float: right;">89 <i class="icon ion-thumbsup">Like</i></span><br>
                            <i style="float: right; background-color: #33cd5f; color: white; border-radius: 7px; height: 50px; width: 100%; text-align: center; line-height: 50px;">
                                Open
                            </i>
                        </div>
                    </div>

                    <div class="item row" style="border-top: white;">
                        <div class="col col-67">
                            <canvas id="pie" style="margin-top: -20px;" class="chart chart-pie" chart-data="vm.data" chart-labels="vm.labels" chart-options="options"></canvas>
                        </div>
                        <div class="col col-33">
                            <i style="float: right; margin-right: 10px; background-color: #444444; color: white; border-radius: 7px; height: 60px; width: 60px; text-align: center; line-height: 60px;">
                                <span style="font-size: xx-large;">19</span>
                            </i><br>
                            <span class="dark" style="float: right;">Participated</span>
                        </div>
                    </div>
                </div>

                <div class="list card">
                    <div class="item row" style="border-bottom: white;">
                        <div class="col col-67">
                            <h2 style="margin-top: 7px;"><strong>Event Title 2</strong></h2>
                            <p style="margin-top: 7px;">Created By: Pratik Anand</p>
                            <p style="margin-top: -7px;">Created On: 9 Jan, 2017</p>
                        </div>
                        <div class="col col-33">
                            <span class="positive" style="float: right;">41 <i class="icon ion-thumbsup">Like</i></span><br>
                            <i style="float: right; background-color: #ffc900; color: white; border-radius: 7px; height: 50px; width: 100%; text-align: center; line-height: 50px;">
                                Not Started
                            </i>
                        </div>
                    </div>

                    <div class="item row" style="border-top: white;">
                        <div class="col col-67">
                            <canvas id="pie" style="margin-top: -20px;" class="chart chart-pie" chart-data="vm.data" chart-labels="vm.labels" chart-options="options"></canvas>
                        </div>
                        <div class="col col-33">
                            <i style="float: right; margin-right: 10px; background-color: #444444; color: white; border-radius: 7px; height: 60px; width: 60px; text-align: center; line-height: 60px;">
                                <span style="font-size: xx-large;">41</span>
                            </i><br>
                            <span class="dark" style="float: right;">Participated</span>
                        </div>
                    </div>
                </div>

                <div class="list card">
                    <div class="item row" style="border-bottom: white;">
                        <div class="col col-67">
                            <h2 style="margin-top: 7px;"><strong>Event Title 3</strong></h2>
                            <p style="margin-top: 7px;">Created By: Saurabh Sahoo</p>
                            <p style="margin-top: -7px;">Created On: 29 Feb, 2017</p>
                        </div>
                        <div class="col col-33">
                            <span class="positive" style="float: right;">111 <i class="icon ion-thumbsup">Like</i></span><br>
                            <i style="float: right; background-color: #ef473a; color: white; border-radius: 7px; height: 50px; width: 100%; text-align: center; line-height: 50px;">
                                Closed
                            </i>
                        </div>
                    </div>

                    <div class="item row" style="border-top: white;">
                        <div class="col col-67">
                            <canvas id="pie" style="margin-top: -20px;" class="chart chart-pie" chart-data="vm.data" chart-labels="vm.labels" chart-options="options"></canvas>
                        </div>
                        <div class="col col-33">
                            <i style="float: right; margin-right: 10px; background-color: #444444; color: white; border-radius: 7px; height: 60px; width: 60px; text-align: center; line-height: 60px;">
                                <span style="font-size: xx-large;">18</span>
                            </i><br>
                            <span class="dark" style="float: right;">Participated</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        

        <!--<div ng-if='vm.events.length !== 0'>

            <div class="row row-header">
                <div class="col">Event</div>
                <div class="col">Created</div>
                <div class="col">Updated</div>
                <div class="col">Status</div>
            </div>
            <div class="row" ng-repeat="item in vm.openEvents">
                <div class="col"><strong>{{item.title}}</strong></div>
                <div class="col">{{item.createdAt | date: 'shortDate'}}</div>
                <div class="col">{{item.updatedAt | date: 'shortDate'}}</div>
                <div class="col">
                    <button class="button button-small button-balanced status-btn">
                        {{item.eventStatus}}
                    </button>
                </div>
            </div>
            <div class="row" ng-repeat="item in vm.closedEvents">
                <div class="col"><strong>{{item.title}}</strong></div>
                <div class="col">{{item.createdAt | date: 'shortDate'}}</div>
                <div class="col">{{item.updatedAt | date: 'shortDate'}}</div>
                <div class="col">
                    <button class="button button-small button-assertive status-btn">
                        {{item.eventStatus}}
                    </button>
                </div>
            </div>
        </div>-->

        <!--<div ng-if='vm.events.length !== 0' class="dashboard-mid-section" style="background: rgba(230, 181, 0, 0.66);">
<div class="dashboard-charts">
                <canvas id="doughnut" class="chart chart-doughnut" chart-data="vm.data" chart-labels="vm.labels">
                </canvas>
            </div>
<div class="dashboard-charts">
    <canvas id="pie" class="chart chart-pie" chart-data="vm.data" chart-labels="vm.labels" chart-options="options">
    </canvas>
</div>
</div>-->

    </ion-content>
</ion-view>
