<ion-view title="Dashboard">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-android-menu"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
    <button ng-click="vm.createEvent()" class="button button-icon icon ion-compose"></button>
  </ion-nav-buttons>
    <ion-content>
        <div>

            <div class="row row-header">
                <div class="col">Event</div>
                <div class="col">Created</div>
                <div class="col">Updated</div>
                <div class="col">Status</div>
            </div>
            <div class="row" ng-repeat="item in vm.openEvents">
                <div class="col"><strong>{{item.title}}</strong></div>
                <div class="col">{{item.createdAt | date: 'shortDate'}}</div>
                <div class="col">{{item.updatedAt | date: 'shortDate'}}</div>
                <div class="col">
                    <button class="button button-small button-balanced status-btn">
                        {{item.eventStatus}}
                    </button>
                </div>
            </div>
            <div class="row" ng-repeat="item in vm.closedEvents">
                <div class="col"><strong>{{item.title}}</strong></div>
                <div class="col">{{item.createdAt | date: 'shortDate'}}</div>
                <div class="col">{{item.updatedAt | date: 'shortDate'}}</div>
                <div class="col">
                    <button class="button button-small button-assertive status-btn">
                        {{item.eventStatus}}
                    </button>
                </div>
            </div>
        </div>
        
        <div class="dashboard-mid-section" style="background: rgba(230, 181, 0, 0.66);">
            <!--<div class="dashboard-charts">
                <canvas id="doughnut" class="chart chart-doughnut" chart-data="vm.data" chart-labels="vm.labels">
                </canvas>
            </div>-->
            <div class="dashboard-charts">
                <canvas id="pie" class="chart chart-pie" chart-data="vm.data" chart-labels="vm.labels" chart-options="options">
                </canvas>
            </div>
        </div>        

    </ion-content>
</ion-view>