<ion-view title="Registered Events">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-android-menu"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button ng-click="vm.showDelete = !vm.showDelete" ng-if="vm.events && vm.events.length !== 0 && $root.userType === 'host'" class="button button-icon icon ion-android-delete"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
      <div class="text-center" ng-if="!vm.hideSpinner"><ion-spinner></ion-spinner></div>
    <ion-list class="" show-delete="vm.showDelete">
      <ion-item ng-if="vm.events && vm.events.length !== 0" style="padding: 5px;" class="item item-text-wrap item-icon-right" ng-click="vm.viewDetail(item)"
        ng-repeat="item in vm.events">
        <h2><strong>{{item.title}}</strong></h2>
        <h2>{{item.description}}</h2>
        <p>Status - {{item.eventStatus}}</p>
        <p>Created on - {{item.createdAt | date : "medium"}}</p>
        <p>Updated on - {{item.updatedAt | date : "medium"}}</p>
        <button ng-if="item.action" class="button button-clear icon-right ion-chevron-right button-positive" ng-click="vm.viewDetail(item, $event)">{{item.action}}</button>

        <i class="icon ion-record" ng-class="vm.assignEventStatus(item.eventStatus)"></i>
        <ion-delete-button class="ion-minus-circled" ng-click="vm.onItemDelete(item)">
        </ion-delete-button>
      </ion-item>

      <div ng-if="vm.events.length === 0" class='item item-text-wrap'>
        <label class="positive">No Upcoming Events Found</label>
      </div>

    </ion-list>

  </ion-content>
</ion-view>