<ion-view title="Online Users ({{appVm.onlineUsers.length || 0}})">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-android-menu"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <div class="list">
            <a href="javascript:;" class="item item-icon-right" ng-click="vm.openChatBox(item)" ng-repeat="item in appVm.onlineUsers">
                {{item.user.userName}}
                <i class="icon ion-person balanced"></i>
            </a>
            <div ng-if="!appVm.onlineUsers.length" class='item item-text-wrap'>
                <label>There is no online user</label>
            </div>
        </div>

    </ion-content>
</ion-view>

<!--<script id="chat-box-modal.html" type="text/ng-template">
<ion-modal-view>
    <ion-header-bar class="bar bar-positive">
        <h1 class="title">Chat Room</h1>
        <button class="button button-clear" ng-click="vm.cancelChat()">Cancel</button>
    </ion-header-bar>
  <ion-content padding="true"
              >
               <div class="list">
            <p class="item">
                <span class="positive" style="float: left;">Me</span><br>
                <span style="float: left;">Hey</span>
            </p>
            <p class="item">
                <span class="positive" style="float: right;">{{vm.toChatWithPersonName}}</span><br>
                <span style="float: right;">Hi</span>
            </p>
            <p class="item">
                <span class="positive" style="float: left;">Me</span><br>
                <span style="float: left;">How are you?</span>
            </p>
            <p class="item">
                <span class="positive" style="float: right;">{{vm.toChatWithPersonName}}</span><br>
                <span style="float: right;">I am Fine. What about you?</span>
            </p>
        </div>    
  </ion-content>

</ion-modal-view>
</script>-->